<header>
    <nav>
        <a href="/" style="color: white;">Home</a>
        <a href="/register" style="color: white;">Register</a>
        <a href="/login" style="color: white;">Login</a>
        <a href="/dashboard" style="color: white;">Dashboard</a>
    </nav>
</header>