body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(26,26,26);
}

.container {
    width: 400px;
    padding: 20px;
    background-color: rgb(26, 26, 26);
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

h1, h2, h3 {
    color: white;
}

input {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px auto;
    border: 1px solid white;
    background-color: rgb(26, 26, 26);
    color: white;
    border-radius: 5px;
  }
  
  button {
    background-color: rgb(26, 26, 26);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
  }

  button:hover {
    background-color: white;
    color: rgb(26, 26, 26);
  }

  .something {
    color: white;
  }